[submodule "extlibs/cgltf_cmake/cgltf"]
	path = extlibs/cgltf_cmake/cgltf
	url = https://github.com/ruqeg/cgltf.git
[submodule "extlibs/cjson_cmake/cJSON"]
	path = extlibs/cjson_cmake/cJSON
	url = https://github.com/ruqeg/cJSON.git
[submodule "extlibs/cr_cmake/cr"]
	path = extlibs/cr_cmake/cr
	url = https://github.com/ruqeg/cr.git
[submodule "extlibs/imgui_cmake/imgui"]
	path = extlibs/imgui_cmake/imgui
	url = https://github.com/ruqeg/imgui.git
	branch = docking
[submodule "extlibs/spirv_reflect_cmake/SPIRV-Reflect"]
	path = extlibs/spirv_reflect_cmake/SPIRV-Reflect
	url = https://github.com/ruqeg/SPIRV-Reflect.git
[submodule "extlibs/stb_cmake/stb"]
	path = extlibs/stb_cmake/stb
	url = https://github.com/ruqeg/stb.git
[submodule "extlibs/tlsf_cmake/tlsf"]
	path = extlibs/tlsf_cmake/tlsf
	url = https://github.com/ruqeg/tlsf.git
[submodule "extlibs/vma_cmake/VulkanMemoryAllocator"]
	path = extlibs/vma_cmake/VulkanMemoryAllocator
	url = https://github.com/ruqeg/VulkanMemoryAllocator.git
[submodule "resources/glTF-Sample-Models"]
	path = resources/glTF-Sample-Models
	url = https://github.com/ruqeg/glTF-Sample-Models.git
