[submodule "extlibs/tlsf_cmake/tlsf"]
	path = extlibs/tlsf_cmake/tlsf
	url = https://github.com/mattconte/tlsf.git
[submodule "extlibs/SDL"]
	path = extlibs/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "extlibs/flecs"]
	path = extlibs/flecs
	url = https://github.com/SanderMertens/flecs.git
[submodule "extlibs/stb_cmake/stb"]
	path = extlibs/stb_cmake/stb
	url = https://github.com/nothings/stb.git
[submodule "extlibs/cr_cmake/cr"]
	path = extlibs/cr_cmake/cr
	url = https://github.com/fungos/cr.git
[submodule "extlibs/vma_cmake/VulkanMemoryAllocator"]
	path = extlibs/vma_cmake/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "extlibs/cgltf_cmake/cgltf"]
	path = extlibs/cgltf_cmake/cgltf
	url = https://github.com/jkuhlmann/cgltf.git
[submodule "resources/glTF-Sample-Models"]
	path = resources/glTF-Sample-Models
	url = https://github.com/KhronosGroup/glTF-Sample-Models.git
[submodule "extlibs/spirv_reflect_cmake/SPIRV-Reflect"]
	path = extlibs/spirv_reflect_cmake/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
[submodule "extlibs/miniaudio"]
	path = extlibs/miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "extlibs/enkiTS"]
	path = extlibs/enkiTS
	url = https://github.com/dougbinks/enkiTS.git
[submodule "extlibs/cjson_cmake/cJSON"]
	path = extlibs/cjson_cmake/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "extlibs/imgui_cmake/imgui"]
	path = extlibs/imgui_cmake/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "extlibs/meshoptimizer"]
	path = extlibs/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
