build/
*.spv
shaders/include/crude_shaders/*
*.vscode
compiled_shaders/
resources/debug/
resources/game/rb9/dev/
resources/game/rb9/gltf/
resources/game/rb9/original/
resources/___crude_engine_autosave/autosave.crude_node
